/// dctb-sass
/// Sass Boilerplate to start new project with some functionalities.
/// @author Diogo Cezar <diogo@diogocezar.com>

// Colors
// Set the project colors here

$color-white: #FFF;
$color-black: #000;
$color-black-light: #363127;
$color-yellow: #BE9B47;
$color-yellow-light: #F3E1B4;
$color-yellow-light-p: #F6E8C7;
$color-brown: #785E1F;
$color-gray: #CCC;
$color-gray-very-light: #FCFCFC;
$color-gray-light: #F5F5F5;
$color-gray-dark: #95989A;
$color-gray-medium: #D5D5D5;
$color-gray-medium-dark: #A8A8A8;
$color-gray-medium-light: #AAA;

