/// dctb-sass
/// Sass Boilerplate to start new project with some functionalities.
/// @author Diogo Cezar <diogo@diogocezar.com>

// Fonts
// Set the project fonts here

$font-primary       : 'Arial', sans-serif;