/// Sass Home Page
/// @author Diogo Cezar <diogo@diogocezar.com>

// Charset
@charset 'utf-8';

// Imports
@import '../base/includes/mixins.scss';
@import '../base/includes/sizes.scss';
@import '../base/includes/colors.scss';
@import '../base/includes/fonts.scss';

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
	@include responsive(s2){
		font-size: 12px;
	}
	@include responsive(s3){
		font-size: 11px;
	}
	@include responsive(s4){
		font-size: 10px;
	}
}

// Buttons
.hbs-cambio-button{
	height: 5rem;
	width: 14.28rem;
	text-transform: uppercase;
	font-family: $font-secondary;
	background-color: transparent;
	border: 2px solid $color-white;
	color: $color-white;
	padding: 0px;
	font-size: 1.2rem;
	letter-spacing: 0.5px;
	@include transition(0.25s);
	&:hover{
		background-color: $color-white;
		color: $color-yellow;
	}
	@include responsive(s2){
		height: 4.2rem;
		width: 12.8rem;
		font-size: 1rem;
		margin-left: 50%;
		-webkit-transform: translatex(-6.42rem)!important;
		-moz-transform: translatex(-6.42rem)!important;
		-ms-transform: translatex(-6.42rem)!important;
		transform: translatex(-6.42rem)!important;
	}
}

.hbs-cambio-button-cta{
	font-weight: 400;
	font-size: 1.2rem;
	margin-left: 50%;
	-webkit-transform: translatex(-6.42rem)!important;
	-moz-transform: translatex(-6.42rem)!important;
	-ms-transform: translatex(-6.42rem)!important;
	transform: translatex(-6.42rem)!important;
	@include responsive(s2){
		margin-bottom: 2rem;
		font-size: 1rem;
	}
}

//Default Background
.bgs{
	position: relative;
	float: left;
	width: 100%;
	background-position: top center;
	background-size: cover;
	@include responsive(s2){
		background-attachment: scroll!important;
	}
}

// Default Styles
.title-big-white{
	font-family: $font-secondary;
	font-size: 3.2em;
	color: $color-white;
}

.p-yellow-light{
	font-family: $font-primary;
	color: $color-yellow-light-p;
	font-size: 1.2em;
	@include responsive(s2){
		font-size: 1.5em;
	}
}

.title-section{
	color: $color-brown;
	font-size: 4em;
	position: relative;
	float: left;
	width: 100%;
	font-family: $font-secondary;
	font-weight: 700;
	margin-bottom: 1.6em;
	&:after{
		content: '';
		position: absolute;
		bottom: 1em;
		width: 1.85em;
		height: 8px;
		background-color: $color-yellow;
		top: 1.3em;
		float: left;
		left: 5px;
	}
	@include responsive(s4){
		font-size: 3.3em;
	}
	@include responsive(s5){
		font-size: 3em;
	}
}

.title-h2{
	position: relative;
	float: left;
	width: 100%;
	font-family: $font-primary;
	font-size: 1.8em;
	color: $color-yellow;
	margin-bottom: 1.4em;
	line-height: 1.4em;
}

.p-default{
	position: relative;
	float: left;
	width: 100%;
	font-family: $font-primary;
	font-size: 1.1em;
	color: $color-black;
	margin-bottom: 1.2em;
	line-height: 1.4em;
	font-weight: 600;
	@include responsive(s2){
		font-size: 1.35em;
	}
}

.title-h2-underline{
	color: $color-brown;
	text-decoration: underline;
}

.title-cta{
	color: $color-white;
	font-size: 3em;
	position: relative;
	float: left;
	text-align: center;
	width: 100%;
	font-family: $font-secondary;
	font-weight: 700;
	margin-bottom: 1.6em;
	margin-top: 2em;
	line-height: 1.3em;
	@include responsive(s2){
		margin-bottom: 1em;
		margin-top: 1em;
	}
	&:after{
		content: '';
		position: absolute;
		bottom: 1em;
		width: 1.8em;
		height: 8px;
		background-color: #FFF;
		top: 3em;
		float: left;
		left: 5px;
		margin-left: 50%;
		transform: translatex(-50%);
		@include responsive(s2){
			display: none!important;
		}
	}
}

.sub-title-cta{
	position: relative;
	float: left;
	width: 100%;
	font-family: $font-primary;
	font-size: 1.3em;
	color: $color-white;
	margin-bottom: 1.2em;
	line-height: 1.4em;
	font-weight: 600;
	text-align: center;
	padding: 0px 15%;
	@include responsive(s2){
		margin-bottom: 0.2em;
		margin-top: 0.2em;
		padding: 0px 2%;
		font-size: 1.4em;
	}
}

.title-black{
	color: $color-black;
}

.img-decorative{
	height: 12.5em;
	width: 12.5em;
	margin-bottom: 2em;
}

.generic-relative{
	position:relative;
	float:left;
	width: 100%;
}

// Forms
#form-work-here, #form-contact{
	position:relative;
	float: left;
	width: 100%;
}

label{
	width: 100%;
	font-family: $font-secondary;
	font-size: 1.2rem;
	font-weight: 400;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

input, textarea{
	font-family: $font-secondary;
	font-size: 1.3rem!important;
	font-weight: 400;
	border: 1px solid $color-black;
	width: 100%;
	height: 60px;
	padding: 0 1em;
	font-size: 1em;
	margin-bottom: 1em;
	@include transition(0.25s)
	&:focus{
		border-left-width: 5px;
	}
	@include responsive(s2){
		height: 50px;
	}
}

textarea{
	height: 120px;
	padding-top: 1em;
	resize: none;
}

// Diagonal Section
.diagonal-bottom:after{
    position: absolute;
    content: '';
    border-style: solid;
    border-width: 0 0 10em 100vw;
    border-color: transparent #ffffff #ffffff transparent;
    bottom: 0;
	@include responsive(s2){
		display: none!important;
	}
}

// Sections
.default-section{
	position: relative;
	float: left;
	width: 100%;
}

#home{
	@extend .default-section;
	background:
		linear-gradient(
		rgba(190, 155, 71, 0.84),
		rgba(190, 155, 71, 0.84)
		),
		url('../../../images/hbs-cambio-bg-home.jpg');
	height: 942px;
	@include responsive(s2){
		height: auto;
	}
	@extend .bgs;
	.decoration{
		position: absolute;
		height: 21.42em;
		width: 21.42em;
		left: 55%;
		top: 33%;
		@include opacity(0.9)
		background-image: url('../../../images/hbs-cambio-decoration-logo.svg');
		background-repeat: no-repeat;
		@include responsive(s2){
			display: none!important;
		}
	}
	.decoration-2{
		height: 42.85em;
		width: 42.85em;
		top: 5%;
		left: 60%;
		@include opacity(0.4)
	}
	.decoration-3{
		height: 71.42em;
		width: 71.42em;
		top: -2%;
		left: 40%;
		@include opacity(0.1)
	}
	.row-home{
		margin-top: 14.28em;
		@include responsive(s2){
			margin-top: 7.14em;
		}
		h1{
			margin-bottom: 2.85rem;
			@include responsive(s2){
				margin-top: 2em;
			}
		}
		p{
			margin-bottom: 4rem;
		}
		button{
			margin-bottom: 2.85rem;
		}
	}
}

#sobre{
	@extend .default-section;
	margin-top: 2.14em;
	margin-bottom: 2.14em;
	.row-missao-visao-valores{
		margin-top: 6.42em;
		.col-missao-visao-valores{
			border: 4px solid $color-gray-light;
			margin-left: 8px;
			margin-right: 8px;
			width: calc(33.333% - 16px);
			@include responsive(s2){
				width: calc(80% - 16px);
				margin-bottom: 5.5em;
				border-width: 2px;
				margin-left: 10%;
				margin-right: 10%;
			}
			@include responsive(s3){
				width: 90%;
				margin-left: 5%;
				margin-right: 5%;
			}
			img{
				position: absolute;
				top: -50px;
				right: 15px;
				height: 100px;
				width: 100px;
				@include responsive(s2){
					height: 60px;
					width: 60px;
					top: -30px;
				}
			}
			h2{
				color: $color-yellow;
				font-size: 2em;
				position: relative;
				float: left;
				width: 100%;
				font-family: $font-secondary;
				font-weight: 700;
				margin-bottom: 1.6em;
				@include responsive(s2){
					text-align: center;
				}
			}
			p{
				@include responsive(s2){
					text-align: center;
				}
			}
		}
	}
}

#cta-1{
	@extend .default-section;
	margin-top: 4.2em;
	background:
		linear-gradient(
		rgba(54, 49, 39, 0.84),
		rgba(54, 49, 39, 0.84)
		),
		url('../../../images/hbs-cambio-bg-cta-1.jpg');
	background-attachment: fixed;
	height: 550px;
	@include responsive(s2){
		height: auto;
	}
	@extend .bgs;
	.row-cta{
		button{
			margin-top: 2.1em;
			background-color: $color-white;
			color: $color-black;
			&:hover{
				background-color: transparent;
				color: $color-white;
			}
		}
	}
}

#servicos{
	@extend .default-section;
	margin-top: 4.2em;
	margin-bottom: 4.2em;
	.row-services-title{
		h1{
			margin-bottom: 1em;
		}
		h2{
			margin-bottom: 1.7em;
		}
	}
	.row-services-items{
		.image-service{
			position: relative;
			float: left;
			width: 100%;
			height: 15em;
			background-size: cover!important;
			margin-bottom: 2em;
			background-position: center center!important;
			@include responsive(s2){
				height: 16em;
			}
			@include responsive(s4){
				height: 20em;
			}
			@include responsive(s5){
				height: 16em;
			}
		}
		.box-service{
			position: absolute;
			width: 14.28rem;
			height: 2.5rem;
			background-color: $color-black;
			bottom: -1rem;
			margin-left: 50%;
			-webkit-transform: translatex(-7.14rem)!important;
			-moz-transform: translatex(-7.14rem)!important;
			-ms-transform: translatex(-7.14rem)!important;
			transform: translatex(-7.14rem)!important;
			h1{
				font-family: $font-secondary;
				color: $color-white;
				font-size: 1.1rem;
				line-height: 2.5rem;
				margin: 0em;
				width: 100%;
				text-align: center;
				@include responsive(s2){
					font-size: 1.12rem;
					line-height: 2.5rem;
				}
			}
		}
		.p-default{
			text-align: center;
			font-size: 0.9em;
			margin-bottom: 2.5rem;
			margin-top: 1rem;
			@include responsive(s2){
				font-size: 1.3em;
			}
		}
		.col-services{
			@include responsive(s4){
				width:100%;
			}
		}
	}
}

#trabalhe-conosco{
	@extend .default-section;
	margin-top: 0em;
	margin-bottom: 4.2em;
	background-color: $color-gray-light;
	.row-work-here{
		h1{
			color: $color-black;
			font-size: 4em;
			position: relative;
			float: left;
			text-align: center;
			width: 100%;
			font-family: $font-secondary;
			font-weight: 700;
			margin-bottom: 0.5em;
			margin-top: 1em;
			line-height: 1.3em;
			&:after{
				content: '';
				position: absolute;
				bottom: 1em;
				width: 1.8em;
				height: 8px;
				background-color: $color-gray-medium;
				top: 1.6em;
				float: left;
				left: 5px;
				margin-left: 50%;
				transform: translatex(-50%);
				@include responsive(s4){
					display: none;
				}
			}
			@include responsive(s4){
				font-size: 3.3em;
			}
			@include responsive(s5){
				font-size: 3em;
			}
		}
		h2{
			position: relative;
			float: left;
			width: 100%;
			font-family: $font-primary;
			font-size: 2rem;
			color: $color-gray-medium-dark;
			margin-bottom: 2rem;
			line-height: 2.4rem;
			font-weight: 600;
			text-align: center;
			padding: 0px 15%;
			@include responsive(s2){
				font-size: 1.5rem;
				padding: 0px 2%;
				line-height: 1.6rem;
			}
		}
		textarea, input{
			background-color: $color-gray-very-light;
			border-color: $color-gray-medium-light;
		}
		button{
			border:none;
			background-color: $color-gray-medium;
			color: $color-black;
			margin-top: 1.5rem;
			margin-bottom: 3rem;
			font-weight: 400;
			font-size: 1.2rem;
			margin-left: 50%;
			-webkit-transform: translatex(-6.42rem) !important;
			-moz-transform: translatex(-6.42rem) !important;
			-ms-transform: translatex(-6.42rem) !important;
			transform: translatex(-6.42em) !important;
			&:hover{
				background-color: transparent;
				border: 1px solid black;
			}
			@include responsive(s2){
				font-size: 1rem;
			}
		}
	}
}

#cta-2{
	@extend .default-section;
	margin-top: 4.2em;
	background:
		linear-gradient(
		rgba(190, 155, 71, 0.84),
		rgba(190, 155, 71, 0.84)
		),
		url('../../../images/hbs-cambio-bg-cta-2.jpg');
	background-attachment: fixed;
	height: 550px;
	@include responsive(s2){
		height: auto;
	}
	@extend .bgs;
	.row-cta{
		button{
			margin-top: 2.1em;
			background-color: $color-white;
			color: $color-black;
			&:hover{
				background-color: transparent;
				color: $color-white;
			}
		}
	}
}

#sustentabilidade{
	@extend .default-section;
}

#contato{
	@extend .default-section;
	margin-top: 4rem;
	.row-contact{
		textarea, input{
			background-color: $color-white;
			border-color: $color-yellow;
			color: $color-brown;
		}
		button{
			border:none;
			background-color: $color-yellow;
			color: $color-white;
			margin-top: 1em;
			margin-bottom: 3em;
			font-size: 1.2em;
			&:hover{
				background-color: transparent;
				border: 1px solid $color-yellow;
				color: $color-yellow;
			}
		}
	}
}

footer{
	@extend .default-section;
	margin-top: 12rem;
	padding-top: 3rem;
	padding-bottom: 1rem;
	background-color: $color-yellow;
	color: $color-white;
	text-align: center;
	font-size: 0.9rem;
	@include responsive(s2){
		margin-top: 6rem;
	}
	.row-footer{
		.logo-footer{
			height: 120px;
		}
		.decoration-circle{
			height: 17rem;
			width: 17rem;
			background-color: #FFF;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: -15rem;
			margin-left: 50%;
			-webkit-transform: translatex(-9rem)!important;
			-moz-transform: translatex(-9rem)!important;
			-ms-transform: translatex(-9rem)!important;
			transform: translatex(-9rem)!important;
			@include responsive(s2){
				height: 12rem;
				width: 12rem;
				top: -10rem;
				transform: translatex(-7rem)!important;
				img{
					height: 70px;
				}
			}
		}
		.icon-decoration{
			height: 35px;
			width: 35px;
			margin-bottom: 1.5rem;
			margin-top: 1rem;
		}
		ul{
			position: relative;
			float: left;
			width: 100%;
			margin:0px;
			margin-top: 5em;
			margin-bottom: 3em;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 38%;
			@include responsive(s2){
				padding: 0 30%;
			}
			@include responsive(s3){
				padding: 0 26%;
			}
			@include responsive(s4){
				padding: 0 17%;
			}
			li{
				list-style: none;
				a{
					img{
						height: 40px;
						width: 40px;
						@include transition(0.25s);
						&:hover{
							@include scale(0.9);
						}
					}
				}
			}
		}
	}
}